* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
    height: 100%;
}

header {
    height: 150px;
    width: 100%;
    background-image: url(../img/wall.png);
}

h1 {
    font-size: 80px;
    font-family: "Edu SA Beginner", cursive;
    font-weight: 700;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.card {
    border-radius: 0px;
    padding: 15px;
}

.pin {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: 45%;
}

.container-fluid {
    padding: 0px;
}

.card-body {
    padding: 0px;
}

.card-title {
    font-family: "Edu SA Beginner", cursive;
    font-weight: 700;
    font-size: 40px;
    margin: 0px;
}

.text-secondary {
    margin: 0px;
    font-family: "Sometype Mono", monospace;
}

#overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-img {
    object-fit: cover;
}

.container-fluid {
    height: 100%;
}

h2 {
    font-size: 50px;
    font-family: "Edu SA Beginner", cursive;
    font-weight: 700;
    color: white;
}

.btn {
    width: 100px;

}

.card {
    cursor: pointer;
}

.card:hover {
    transform: rotate(10deg) scale(1.05);
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.9); 
}

#overlay-img img{
    max-width: 90%; 
    max-height: 80%;
}